<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelRank</title>
    <link rel="stylesheet" href="/stylesheets/dashboard/dashboard.css">
    <link rel="icon" href="/images/Favicon.png" type="image/png">
</head>

<body>


    <%- include('headerDashboard') %>



        <%- include('bodyDash') %>

            <script type="module">
                //Si es modular del todo, se cargará todas las funciones y no queremos eso
                const user = <%- JSON.stringify(user) %>;

        
                
                import { initDashboard } from '/javascripts/dashboard/dashboard.js';
                initDashboard(user);
            </script>


</body>

</html>