<header id="index-header">

    <div id="title">

        <h1>PixelRank</h1>
 

    </div>


    <!--General Header-->

    <nav id="navegation">
        <button id="register-button">Register</button>
        <button id="login-button">Login</button>
        <button id="discord-button"><img src="/images/dclogo.png" alt="discord"></button>

    </nav>


</header>