<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelRank</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

</head>




<body>
    <!--Layout Header-->
    <header id="index-header" >

        <div id="title" >

            <h1>PixelRank</h1>


        </div>


        <nav id="navegation">
            <button id="register-button">Register</button>
            <button id="login-button">Login</button>
            <button id="discord-button"><img src="images/dclogo.png" alt="discord"></button>

        </nav>


    </header>

    <div id="index-init">


    </div>



    <!--Importaciones principales-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type="module" src="/javascripts/indexFunctions/index.JS"></script>



</body>

</html>