<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelRank</title>
    <link rel="stylesheet" href="/stylesheets/library/library.css">
    <link rel="icon" href="/images/Favicon.png" type="image/png">
</head>

<body>


    <%- include('headerLibrary') %>



        <div id="generalContent">


            <div id="games-library"></div>
        </div>







        <script>
            const user = <%- JSON.stringify(user) %>;
        </script>
        <script type="module" src="/javascripts/library/library.js"></script>

</body>

</html>