
<div id="navBar">
    <div id="options">
      <h3>Platforms</h3>
  
      <ul class="platform-list">
        <li><span class="icon windows"></span>PC</li>
        <li><span class="icon ps4"></span>PlayStation 4</li>
        <li><span class="icon xbox"></span>Xbox One</li>
        <li><span class="icon switch"></span>Nintendo Switch</li>
        <li><span class="icon ios"></span>Mac</li>
        <li><span class="icon android"></span>Android</li>
        
      </ul>
    </div>
  </div>
  