<div id="navBar">
  <div id="options">
    <h3>Platforms</h3>

    <ul class="platform-list">
      <li data-platform="pc"><span class="icon windows"></span>PC</li>
      <li data-platform="playstation"><span class="icon ps4"></span>PlayStation</li>
      <li data-platform="xbox"><span class="icon xbox"></span>Xbox</li>
      <li data-platform="nintendo"><span class="icon switch"></span>Nintendo</li>
      <li data-platform="mac"><span class="icon ios"></span>Mac</li>
      <li data-platform="android"><span class="icon android"></span>Android</li>
    </ul>
    

    <h3>Genres</h3>
    <ul class="genre-list">
      <li data-genre="action"><span class="icon genre-action"></span>Action</li>
      <li data-genre="adventure"><span class="icon genre-adventure"></span>Adventure</li>
      <li data-genre="role-playing-games-rpg"><span class="icon genre-rpg"></span>RPG</li>
      <li data-genre="shooter"><span class="icon genre-shooter"></span>Shooter</li>
      <li data-genre="puzzle"><span class="icon genre-puzzle"></span>Puzzle</li>
      <li data-genre="sports"><span class="icon genre-sports"></span>Sports</li>
      <li data-genre="racing"><span class="icon genre-racing"></span>Racing</li>
      <li data-genre="strategy"><span class="icon genre-strategy"></span>Strategy</li>
      <li data-genre="simulation"><span class="icon genre-simulation"></span>Simulation</li>
      <li data-genre="fighting"><span class="icon genre-fighting"></span>Fighting</li>
      <li data-genre="platformer"><span class="icon genre-platformer"></span>Platformer</li>
      <li data-genre="indie"><span class="icon genre-indie"></span>Indie</li>
      <li data-genre="card"><span class="icon genre-card"></span>Card</li>
      <li data-genre="arcade"><span class="icon genre-arcade"></span>Arcade</li>
      <li data-genre="horror"><span class="icon genre-horror"></span>Horror</li>
      <li data-genre="educational"><span class="icon genre-educational"></span>Educational</li>
    </ul>
    
    


  </div>
</div>

