@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Play:wght@400;700&display=swap');

body {

    margin: 0;
    background-color: #5d5dc3;
}


#index-header {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white;
    border-bottom: 10px solid black;

}

#index-header #title {


    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

#index-header h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 0;
    color: black;
}

#index-header #navegation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;

}

#index-header #navegation button {

    height: 30px;
    background-color: transparent;
    color: black;
    font-size: 25px;
    border: none;
    font-family: "play";
    transition: color 0.3s ease, transform 0.2s ease;
}

#index-header #navegation button:hover {
    color: #002bff;
    transform: scale(1.1);
}

#index-header #navegation #discord-button {

    margin-bottom: 8px;

}

#index-header #navegation #discord-button img {

    width: 40px;
    height: 38px;

}

#error-general {
    box-sizing: content-box;
    display: flex;

    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background-image: url('/images/background.png');

}

#error-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    border-radius: 40px;
    height: 500px;
    margin-top: 50px;
}

#error-content h1 {


    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;

    
}

#error-content p {

    font-family: "play";
    text-align: center;
    
}